[2016-08-14 15:02] hossainalikram opened #1 "Contributor Of The Month - Initialization!"
Contributions has been the power for our community. To motivate contributors more, Recognition has been one key point for a long time. For that reason, We are trying to initiate Contributor of the Month to recognize the awesome contributors of Mozilla QA Bangladesh Community.

- [ ] Creating criterias based on which someone can be recognized as Contributor of the Month.
Owner: @hossainalikram Acco

[2016-08-14 15:17] hossainalikram opened #2 "Automatic Banner Generator for Test Days."
## We host Test Day's Every Friday. For hosting Test Day online and to promote it, We create Digital banners. Currently we are using the following one, created by @MozQABD/contributors owkir Ahmed -
![photo_2016-08-12_10-17-05](https://cloud.githubusercontent.com/assets/8605491/17650004/92372464-6263-11e6-9806-d56cbf298160.jpg)

Now, We would like to make a automatic generator of this version, So

[2016-08-14 16:03] towkir commented on #2
which format do you want the final exported file to be in ?

[2016-08-14 16:06] hossainalikram commented on #2
Preferring PNG, as it supports everywhere I guess.

[2016-08-14 16:13] towkir commented on #2
OK,
I hope it should be like this:
1. Multiple option to chose format while downloading (JPEG / PNG for now)
2. Different size (but a fixed ratio of height and width)
Color changing and other advanced options may be added later.

I am working on this @hossainalikram , please assign this on me.
Thanks

[2016-08-14 17:40] hossainalikram commented on #1
Created the criterias and everything behind the idea - https://wiki.mozilla.org/QA/Community/Bangladesh/Recognition/Contributor_Of_The_Month

[2016-08-23 16:57] hossainalikram opened #3 "Mozilla QA Bangladesh - Community Super Star - Initialization!"
Contributions has been the power for our community. To motivate contributors more, Recognition has been one key point for a long time. For that reason, We are trying to initiate Mozilla QA Bangladesh - Community Super Star to recognize the most active contributors of each month of our Community.

- [ ]  Creating criterias based on which someone can be recognized as Community Super Star.
Owner: @ho

[2016-08-23 17:07] hossainalikram opened #4 "MozQABD Monthly Newsletter! - Initialization!"
To promote what we have done each month and to celebrate our contribution in a loud way, We are hoping to start our Community's Monthly Newsletter (y)

Resources needed to kickstart:
#1 Contributor of the Month - Initialization Banner.
#3 Community Super Star - Initialization Banner.

Pushing this for more input to other people.

[2016-08-23 17:20] hossainalikram commented on #4
![community newsletter](https://cloud.githubusercontent.com/assets/8605491/17902180/146f300e-6988-11e6-9479-ee45e85f4cca.png)

Added a basic expected thing, created by me. Sent to community for more review.

[2016-08-23 21:53] towkir commented on #2
Hey @hossainalikram , I have finalized a beta stage for this.
Please review the generator and make sure the result on your end is no different than the image provided here.
![testdaybanner](https://cloud.githubusercontent.com/assets/6970839/17911051/a45aa49e-69ad-11e6-9137-17662c8e508e.png)
1. Check for the fonts, open sans used. report back if results into other fonts.
2. Notice the shadows and g

[2016-08-25 22:08] towkir commented on #2
There will be another update on the banner. Which will fix the font's issues.
And I think all these should be moved to the main repo https://github.com/MozQABD/mozqabd.github.io/issues
This will be easier for us to keep a good track of all features under one repo.
Thanks

[2016-08-31 15:21] hossainalikram opened #5 "Community Newsletter - July!"
- [x] Contributor of the Month for July Announced and Banner Generated
- [x] Community Superstar for July Announced and Banner Generated.
- [x] All Activities of July are collected and noted
- [x] All Content are received [ Community Superstar, Contributor of the Month, Activity Listed ]
- [x] Newsletter Published.

[2016-09-21 03:03] hossainalikram commented on #5
The Graphical content created by @towkir

![contributorofthemonthjuly2016](https://cloud.githubusercontent.com/assets/8605491/18696342/156b6c94-7fda-11e6-94de-eac9887c1c09.png)
![superstars](https://cloud.githubusercontent.com/assets/8605491/18696343/15766946-7fda-11e6-82d8-474a8096d054.png)

[2016-09-21 03:08] hossainalikram commented on #5
Graphical content, created by @imsaddam

![photo_2016-09-21_09-05-18](https://cloud.githubusercontent.com/assets/8605491/18696399/961c59ca-7fda-11e6-96b3-67452859981b.jpg)

[2016-09-21 03:10] hossainalikram commented on #5
The Blog Post - http://blog.mozillabd.org/2016/09/mozqabd-report-june16/

[2016-09-21 03:13] hossainalikram opened #6 "Community Newsletter - August!"
- [ ] Contributor of the Month for August Announced and Banner Generated
- [ ] Community Superstar for August Announced and Banner Generated.
- [ ] All Activities of August are collected and noted
- [ ] All Content are received [ Community Superstar, Contributor of the Month, Activity Listed ]
- [ ] Newsletter Published.

[2016-09-21 03:21] hossainalikram opened #7 "[Planning] Firefox QA Hack Day, Dhaka"
The event was initiated for two reasons
-  I guess, this is a high time, since we have had a actual event. We haven't allowed participants publicly in our events. To give opportunity to new faces, and to engage our existing contributors, I think, this should be a great idea to host this event.
- Mozilla QA Bangladesh Tour will be happening soon \o/ . I think, we need to prototype the event before,

[2016-09-21 03:36] hossainalikram commented on #7
Facebook Event Link: https://www.facebook.com/events/372678323121186/

Reps Event Link: https://reps.mozilla.org/e/firefox-qa-hack-day-dhaka/

[2016-09-21 03:38] hossainalikram commented on #7
What We need now:
- [x] Venue
- [ ]  Logistics
- [ ] Food ( Morning Snacks + Lunch )
- [ ] Agenda

[2016-09-21 03:45] asifmshuvo commented on #7
Daffodil International University has been confirmed as Venue for the "Firefox QA Hack Day" in Dhaka.

[2016-09-21 03:50] hossainalikram commented on #7
The planning is visible here: https://public.etherpad-mozilla.org/p/firefoxqahackdaydhaka

This will be our first attempt to include MozActivate with our ongoing QA effort. Let's revise the plan and prepare for it.

CC @NaSabbir @rhnayeem @MaruffIslamm @MozQABD/contributors

[2016-09-21 05:30] hossainalikram opened #8 "Working Teams - Mozilla QA: Contributor Engaging Tour, Bangladesh"
Mozilla Bangladesh QA Community will be organizing **[Mozilla QA: Contributor Engaging Tour, Bangladesh](https://reps.mozilla.org/e/mozilla-qa-contributor-engaging-tour-bangladesh/)**

The Tour will happen in different parts of the country, depending on people's interest to host event and help us. As a primary setup, We have resources to host 15 events in Bangladesh, outside the capital.

As This

[2016-09-21 05:53] hossainalikram opened #9 "Logistics Team - Mozilla QA: Contributor Engaging Tour, Bangladesh"
**WHO:**
Logistics Team will consist of a group of people who unitedly will work together to manage logistics/ resources. This team's responsibility is to define all the logistic/ resources needed and finding ways to manage this resources.

Requirements to join this Team:
- Dedicate 10 Hours time Weekly (In Person & Online), in next 3 Months.
- A Vouched Mozillian
- Have the ability to work inside

[2016-09-21 06:05] hossainalikram opened #10 "Social Media Promotion Team - Mozilla QA: Contributor Engaging Tour, Bangladesh"
**WHO:**
Social Media Promotion Team will consist of a group of people who unitedly will work together to create impact over social media. This team's responsibility is to promote our events in different social media, publish ongoing pictures during events in social media, engaging people to have an interaction with them.

Requirements to join this Team:
- Dedicate 10 Hours time Weekly (In Person

[2016-09-21 06:28] hossainalikram opened #11 "Planning Team - Mozilla QA: Contributor Engaging Tour, Bangladesh"
**WHO:**
Planning Team will consist of a group of people who unitedly will work together to plan agenda, strategy and followup activity throughout the tour. This team's responsibility is to manage the events, with the help of Social Media Team, Logistics Team and Local Organizers..

Requirements to join this Team:
- Dedicate 20 Hours time Weekly (In Person & Online), in next 3 Months.
- Contribute

[2016-09-21 06:45] hossainalikram opened #12 "Local Organizer Team - Mozilla QA: Contributor Engaging Tour, Bangladesh"
**WHO:**
Local Organizer Team will consist of a group of people who unitedly will work together to help us organizing events in local cities.

This team will work with their respective universities, to have permission for the event, manage local resources and take necessary steps regarding the execution of the event.

Requirements to join this Team:
- Anyone, who is interested to help to organize

[2016-09-21 07:17] hossainalikram commented on #11
I believe, I have ability to fulfill all the requirement, hence I wanted to take part fully in Planning Team. I want to devote myself for helping the QA Tour by playing an active role in the Planning Team.

~ Ikram

[2016-09-21 07:39] imsaddam commented on #8
Interested in Social Media Promotion Team [ #10 ]

[2016-09-21 07:42] imsaddam commented on #10
I wanted to take part in Social Media Promotion Team, because I spend a lot of time in social media to promote other as well, now I pleased to help Mozilla QABD team

[2016-09-21 07:51] ratulbd commented on #11
I wanted to take part in Planning Team. Like a helping verb,  want to make myself useful for helping the QA Tour.

~ Ratul

[2016-09-21 07:52] samadtalukder commented on #10
Interested

[2016-09-21 08:04] ghost commented on #10
Interested

[2016-09-21 08:21] samadtalukder commented on #12
I am interested .

[2016-09-21 08:24] nawafchowdhury commented on #11
Want to  join the planning team. I think i can work with this issue dedicately. So please count me in.

~ Akash

[2016-09-21 08:25] ray6an1 commented on #10
I am interested.

[2016-09-21 09:23] raahimrift commented on #9
i want to join this team

[2016-09-21 10:07] mr-azharul commented on #12
I am interested to join this team.

[2016-09-21 10:57] mzztanmay commented on #12
I am interested.

[2016-09-21 11:14] mMARUF commented on #10
Interested

[2016-09-21 11:16] mMARUF commented on #9
interested

[2016-09-21 12:06] KaziNuzhat commented on #8
Social media promotion team

[2016-09-21 12:07] rhnayeem commented on #11
I think I can fullfill of requirements to join this team and interested to take part fully in Planning Team. I want to develop my experience by working with planning team for Mozilla QA Contributor Engaging Tour.

[2016-09-21 12:45] Tanvir-rahman commented on #12
I think i am suitable for this team.

[2016-09-21 14:10] ghost commented on #11
I want to contribute in the planning team , for " contributor engaging tour" to contribute in the way of building the community. I have fulfilled the requirements of joining this team mentioned above.

[2016-09-21 17:43] raahimrift commented on #9
I want to join this team because i think that i can fulfill the requirement. and I believe that i am capable of work with this team

[2016-09-21 19:14] nsrobin commented on #8
Interested to work with Social Media Promotion Team.

[2016-09-22 04:54] NaSabbir commented on #11
I wanted to join in 'Planning Team'. I think I have accepted all of the above requirements to join this team and also have ability and qualifications for helping upcoming QA Tour.

[2016-09-22 08:05] amiforhad commented on #9
I wanted to take part in Logistics team.I think I can do the work for this team

[2016-09-22 16:11] aialvi commented on #12
I am interested. :)

[2016-09-22 19:06] MaruffIslamm commented on #11
I would love to work with this team. I think I will be helpful for this team as I have participated in many plannings of various events(of QA events) previously and I also believe that my contribution and dedication will be very useful for the "Contributor engaging tour" as well as for the community.Thank you everyone.
-Mohammad Maruf Islam

[2016-09-23 04:43] FahmidaNoor commented on #11
I think I am eligible to work and love to work with this team. I have been working with the community for a long time and also participated in many plannings of various QA events. I believe that If I am given the opportunity to work with this team It will help me to engage myself more with the community as well as will be helpful for the community.
~ Fahmida Noor

[2016-09-24 18:48] sayedibnmasud commented on #11
I want to be a part of this team. I fulfill all the requirements mentioned above except the last one(helped online, not on the field). I think it is a big opportunity for me to learn how to plan and how to organize an event. I will be able to learn from experienced people and will also be able to use this experience in the future to organize QA events and contribute in the community more.

~Sayed

[2016-09-25 16:33] rezafarhadur commented on #10
I think, i am eligible and want to be a part of this team. I have sound knowledge on social media and also fulfill others requirement. It will be a great opportunity to help on QA tour and engage me with this community more.

-Farhadur Raja Fahim

[2016-09-25 17:14] muktasib commented on #11
I want to be a part of the planning team. Making event structures, early brainstorming about the odds in an event - this is what i love to do. So I will give my best to support this tour and help to make it the best way possible.
~Muktasib Un Nur

[2016-09-25 17:16] EhsanBD commented on #11
I want to work with this team.I think I will be very helpful to this team because  I have some experience on planning .  and I am also fulfill the requirement above list.

-Md.Ehsanul Hassan

[2016-09-27 12:38] danialmas commented on #10
I want to a member of this Social Media Promotion Team, Because I full fill the requirement which was given and I love to do this.
 As Maximum of my time is passing through the social media,  so I think I will be the right person for this group.

[2016-09-29 11:30] hossainalikram opened #13 "QA Contributor Mentoring Day @ Varendra University & Rajshahi College"
Tentative Date: 7 & 8 October, 2016

Venue:
- Varendra University
- Rajshahi College

Time:

Resources Needed:
- Projector
- Speaker
- Internet
  - Portable Internet for Speakers (Verify, If Needed)
- Design
- Banner ( X & Y )
- Participants food (If needed)
- Logistics ( Scotch Tape, Anti Cutter, Sticky Notes, Multi Plugs, Marker)

[2016-09-29 12:15] hossainalikram commented on #13
Registration form's link that can be used for Varenda University -
- https://docs.google.com/a/iamikram.com/forms/d/e/1FAIpQLSdD7lpIDVfZ5MfjV4I9zid5TDJ1eYkbz4oobJjGU4QA3rQfMA/viewform

Registration form's link that can be used for Rajshahi College -
- https://docs.google.com/a/iamikram.com/forms/d/e/1FAIpQLScnhMs3Yi8MW_2Z4mOfbe47uMhG3hlVaAVDWkhLGEV3qVb38A/viewform

## **হেল্প টেক্সটঃ (ইভেন্ট পেইজ/

[2016-09-29 16:00] nahidrajbd commented on #13
হেল্প টেক্সট এর ওখানে ছোট্ট একটা ইংরেজী ইন্ট্রো যোগ করলে ভালো হতো। এত বিস্তারিত তথ্য না হলেও হবে। বিষয় টা অবাঙ্গালীর চোখে পড়লে যাতে বুঝতে পারে  যে বিষয় টা কি। ধন্যবাদ এত সাজানো গোছানো একটা কন্টেন্ট এর জন্য।

ফর্ম এর ফেসবুক পেইজ এর অংশ টা কোন কাজে লাগবে বুঝতে পারছি না। ইমেইল আর মোবাইল ফোন ই যথেষ্ট। বরং প্রতিষ্ঠান এবং বিভাগ সম্পর্কিত একটা ফিল্ড যোগ করা যেতে পারে। এর আগেও দেখেছি বর্ননা পড়ার পরেও অনে

[2016-09-30 02:47] majedrifat commented on #9
I wanted to take part  in Logistics Team . I want to devote myself for helping the QA Tour by playing an active role in the Logistics Team .

[2016-09-30 08:55] raahimrift commented on #10
I want to join this team because i think that i can fulfill the requirement. and I believe that i am capable of work with this team

[2016-09-30 16:27] asifmshuvo commented on #11
I eagerly wanted to join with the Planning team.
The Requirements to join this Team match my qualification, I think.
I have previous experience with organizing & planning events as well.
But the main reason the above persons (if they selected) suits me well, whom I will work with.
 So, I will try my best for the planning section if I get Selected,

[2016-09-30 16:43] smameer commented on #11
I believe that I have the eligibility to join this team. I would love to be a part of it and help with successful execution of the upcoming QA tours.

[2016-09-30 17:54] ourherock commented on #10
Once was a part of MozBD Social Promo Team, Worked with the Firefox OS promotion campaign & KnowTheFirefoxOS contest campaign. Had some experiences on there.
So, interested to be a part of this team.

[2016-10-01 16:52] hossainalikram commented on #13
Promotional Design resource are up for use now :)

For Rajshahi College
![rc](https://cloud.githubusercontent.com/assets/8605491/19015629/82fdce6c-8829-11e6-8fd1-04bdc7ef17c6.png)

For Varendra University
![vu](https://cloud.githubusercontent.com/assets/8605491/19015630/832a938e-8829-11e6-8826-326a1ebdbd54.png)

Created by our life saver @seeam :D

[2016-10-01 18:00] hossainalikram commented on #13
Registration form's linked above can be used from now on! We have added design resources also, that can be used for promotional post/ event.

[2016-10-03 17:06] hossainalikram commented on #13
The people's info who will travelling from Dhaka can be visible here - https://docs.google.com/spreadsheets/d/10k_AHJTUDnXzfEC2Np89NWyFBslPxSUDc1vNqj1pJo8/edit#gid=0

This will be update as soon as there is some changes.

[2016-10-03 17:15] hossainalikram commented on #13
Rajshahi College Event Page - https://www.facebook.com/events/1238188906224313/

Varendra University Facebook Event Page - https://www.facebook.com/events/361878184155200/

[2016-10-03 19:53] m4hi2 commented on #13
@hossainalikram why neither the event page nor the registration link asks the participants to bring their own computer and internet connection? We need the participants to provide both, right?

[2016-10-04 02:24] hossainalikram commented on #13
A question has been added in the form - Did you participated any other event, where Mozilla organized the event? ( Or was a part of the event?) *

Hope, now it is okay @m4hi2 .

[2016-10-13 05:28] hossainalikram commented on #13
Mozilla QA Contributor Mentoring Day @ Rajshahi College - https://reps.mozilla.org/e/mozilla-qa-contributor-mentoring-day-rajshahi-college/

Mozilla QA Contributor Mentoring Day @ Varendra University - https://reps.mozilla.org/e/mozilla-qa-contributor-mentoring-day-varendra-university/

Banner Files - Created by @seeam

[RAJ_QA.zip](https://github.com/MozQABD/MozQABD/files/526232/RAJ_QA.zip)

[2016-11-03 13:49] hossainalikram opened #14 "WoMoz & QA - Our First attempt to try something which is specific to WoMoz"
My Task would be preparing an organizing team, who will work together to organize our community's first ever womoz only event.

Things, The team need to do -

-  Work together, in a team
-  Finalizing a Venue, Comfortable for anyone
-  Scheduling the event date ( Proposed Date - 11 November, 2016 )
-  Managing Logistic resources
-  Creating Event Page in Facebook and promoting it.
-  Finalizing Pa

[2016-11-03 14:11] mhmohona commented on #14
In active community, very few amount of girls are contributing. it is a great idea to arrange numbers of events for only girls. I want to be a part of this fabulous step.

[2016-11-03 14:19] azmina721 commented on #14
Mozilla QA Bangladesh is a large leading community of Mozilla Bangladesh. But in this community there is a small no of girl/female contributors. Its a great step that might add more female contributors with the community. As a female contributor of Mozilla QA Bangladesh I appreciate the initiative and proudly want to be a part of this .

[2016-11-05 16:03] rezwanaria commented on #14
Mozilla QA Bangladesh is part of the global community of Mozilla Foundation.First time in this community
organize a great place for women & I'm very glad to hear.YES i want to be a part of WoMoZ & QA

[2016-11-19 17:31] Nuzhat005 commented on #14
As a female member of Mozilla QA Bangladesh Community I want to take part in this event. This is the first event of Mozilla QA for female contributors. So I will be very glad if I can do something for this event.

[2017-03-05 15:36] hossainalikram opened #15 "Firefox Test Pilot Sprint, Dhaka"
- [x] Help Text Needed for event page
- [ ] Perfectly Sized Banner needed for promoting
- [x] Finding Venue, for the event to happen
- [ ] Promoting the event, in a large scale
- [x] Creating MozQABD Social Promotion Team and helping them to lead our social promotion efforts.
- [ ] Finding out our logistical needs for the event
- [ ] Finalizing Agenda for the event.
- [ ] Collaborating with other

[2017-03-06 18:47] NaSabbir commented on #15
### Help Text Needed > Help Text for event page
---
২ বছর পেরিয়ে মজিলা কিউএ বাংলাদেশ কমিউনিটি এখন প্রায় ২০০+ কন্ট্রিবিউটরের একটি কমিউনিটি। বিগত ২ বছর সফলতার সাথে আমাদের এই কমিউনিটি মজিলার বিভিন্ন প্রোডাক্ট ও সেবার গুনগত মান উন্নয়নের জন্য বিভিন্ন লোকাল ও গ্লোবাল Test Day, Bug Triage day এবং Bug Verification Day হোস্ট করে আসছে।

দুই বছর পূর্তিতে আমরা আয়োজন করছি “Firefox Test Pilot Sprint, Dhaka”। Fi

[2017-03-06 19:01] hossainalikram commented on #15
Design done by @seeam

![qa-test-sprint 2](https://cloud.githubusercontent.com/assets/8605491/23624906/89463b4c-02d1-11e7-80d0-bb0afff50de3.jpg)

[2017-03-07 17:20] hossainalikram commented on #15
a

[2017-03-10 18:15] hossainalikram commented on #15
The event is in pause state for finding an venue.

I have few options in my hand where I am having conversation for an confirmaion

- North South Univrsity
- Brac University
- United International University
- Alliance Francaise de Dhaka

[2017-03-10 18:17] hossainalikram commented on #15
I am proposing for 7 day postponing the event, as we don't have much time left to do this this week.

Requesting to give your opinions > CC @NaSabbir , @rhnayeem , @MaruffIslamm

[2017-03-10 18:21] MaruffIslamm commented on #15
It would be a good idea to postpone for 7 days considering the situation as
most of us will be busy this week for exam.

On 11 Mar 2017 12:17 am, "Hossain Al Ikram" <notifications@github.com>
wrote:

[2017-03-14 16:21] hossainalikram commented on #15
Brac University has been listed as our Primary option, Date has been shifted to 24 & 25 March, 2017 as Day Long event.

[2017-03-21 17:59] hossainalikram commented on #15
Test Cases for most of the Test Pilot experiments: https://goo.gl/gAriZH

[2017-03-28 17:10] hossainalikram opened #16 "Mozilla QA Bangladesh Community Meetup"
This Github issue will track all the resources for Mozilla QA Bangladesh Community Meetup

Event Page: https://reps.mozilla.org/e/mozilla-qa-bangladesh-community-meetup/

Expected Date: 4-7 May, 2017 / 11-14 May, 2017

[2017-03-28 17:29] imsaddam commented on #16
11-14 May will be  best time ...

[2017-04-12 20:49] hossainalikram commented on #16
I have tried to put all the information in the Wiki: https://wiki.mozilla.org/QA/Community/Bangladesh/Events/Mozilla_QA_Bangladesh_Community_Meetup_2017

This was based from [Mozilla India's Community Meetup](https://wiki.mozilla.org/India/Mozilla_India_Meetup_2016), Though I updated it fully keeping in mind the scenario of ours.

Thanks to @mMaruf , @Azmina721, @mhmohona, @rsayed007 for helping m

[2017-06-21 08:16] hossainalikram opened #17 "MozillaQABD.org site redesign and launch!"

[2017-06-21 09:57] hossainalikram commented on #17
We are trying to redefine our community website. Few things, we brainstormed for the website that we should have:

- Home Page
  - A page that will be home for our community website.Things that it will contain:
   - Contributor Of the Month
   - Community Super Star
   - A Image Slider containing group photos of different events
   - Upcoming Community Calls Info
   - Upcoming Event's info
   - Ho

[2017-07-02 16:04] hossainalikram opened #18 "Blog.MozillaQABD.org defining and Launch!"
We are trying to open community blog for everyone's use to document community activities which will be located at Blog.MozillaQABD.org!

Things we did so far:

- Installed WordPress to run the blog.
- Used One Mozilla Theme as default theme.
- Modifying Title and Slogan.
- Creating Menu in the Top Bar.
- Giving access to our contributors
- Opening registration for blogs for anyone, Though blog pos

[2017-07-02 16:05] hossainalikram commented on #18
Most of things were done by the help of @imsaddam!

Kudos to him!

[2017-07-02 16:11] imsaddam commented on #18
Thank you for update ...

[2017-07-02 18:43] hossainalikram opened #19 "Banner needed for redirecting documents that have more language support!"
We have many resources/ blogs, that is available in more than one language. We need a image to illustrate this.

Image Should contain:

- This article is also available in English. Click here to explore.
- লেখাটির ইংরেজী সংস্করণও রয়েছে, পড়ার জন্যে ক্লিক করুন!

[2017-07-02 19:07] SufiAhmedHamim commented on #19
![3](https://user-images.githubusercontent.com/19908532/27772835-f3651798-5f8b-11e7-9466-2607df5ca497.jpg)

[2017-07-02 19:07] SufiAhmedHamim commented on #19
![1](https://user-images.githubusercontent.com/19908532/27772836-00b7bf90-5f8c-11e7-951a-ac51b5c2335e.jpg)

[2017-07-02 19:08] SufiAhmedHamim commented on #19
![2](https://user-images.githubusercontent.com/19908532/27772838-0c43bd46-5f8c-11e7-8fe6-48da35ca677b.jpg)

[2017-07-03 10:43] imsaddam commented on #18
My personal suggestions  for blog

Important Features All Blogs Should Really Have

- Blog Post Archive
- Comment System
- Search
- Social Media Integration
- References site
- Upcoming Events Bar
- Videos

@hossainalikram  check above mention features for our blog if you are agree with me then I will help you to add these features..

[2017-07-03 15:46] SufiAhmedHamim commented on #19
![12](https://user-images.githubusercontent.com/19908532/27799922-fdd6fac2-6038-11e7-80f6-b3345f16c87c.png)

[2017-07-03 15:46] SufiAhmedHamim commented on #19
![14](https://user-images.githubusercontent.com/19908532/27799947-14e84568-6039-11e7-9a00-8c5946d729b4.png)

[2017-08-17 19:15] hossainalikram opened #20 "Mozilla QA Bangladesh: Community Gathering"
Lets plan something, which will have more impact for the community that impacts at least 2017 :)

Share a plan, that we can follow to organize our own community gathering.

Things that we shall need:

- A Venue
- A Design for all the things (Including banners/stickers)
- A Timeline

[2017-08-17 19:24] imsaddam commented on #20
Is it university based program ?
My suggestion for timeline will be after 20 September  2017

[2017-08-17 20:01] hossainalikram commented on #20
It can be anywhere, depending on where at least 50+ people can join. If it's an university, I shall prefer an Big auditorium

[2018-02-08 15:23] hossainalikram opened #21 "টাংগাইল শিউর মধ্যে দে ঢাকা"

[2018-02-08 15:48] hossainalikram opened #22 "Firefox Nightly Testday, Dhaka"
The goal of this event is to engage with existing contributors and recruit new contributors.

[2018-02-09 05:18] hossainalikram commented on #22
**Objective of the event:**

- The community haven't seen any public event since May 2017. Many of our core contributors graduated last year and went to Alumni status. Many are near to their graduation. We had lost engagement with our existing contributors. The basic idea is to create an opportunity for all the existing contributors to engage and sync.

- Since, we didn't have any public event fro

[2018-02-10 13:40] hossainalikram commented on #22
As suggested by team, the event name as well as the priorities has changed to Firefox Nightly!

[2018-02-10 15:54] hossainalikram commented on #22
For promoting the event and engaging with People, Event page has been created on Facebook - https://www.facebook.com/events/150357765680339/

Image for Facebook Banner has been created by @SufiAhmedHamim . Thanks for doing this in very short time and urgent notice!

![firefoxnightly](https://user-images.githubusercontent.com/8605491/36063816-fd9464c4-0eab-11e8-8143-3ee0e0ad4786.jpg)

[2018-02-14 17:01] hossainalikram commented on #22
The basic agenda will go as follow:

- Welcoming the Audience.
   ◼ This will start the event by sharing about what is the goal for the event and what should they expect throughout the event. This will be also a chance for inter action with audience.
- Intro to Mozilla!
   ◼ People always feel that Mozilla is all about Firefox or even, Firefox is Mozilla. Talking about Mozilla as an organization a

[2018-02-14 17:13] hossainalikram commented on #22
The agenda I mentioned above can be followed as basic plan. If you want to take over a specific thing, please let me know.

ccing @NaSabbir @rhnayeem @azmina721 @mMARUF @Tanvir-rahman @majedrifat @LiquidO2 @raahimrift @almastushar @imsaddam @hossainalikram - If you see something interesting you can suely take over the session. Please let me know, as soon as possible.

[2018-02-14 18:10] ghost commented on #22
I would like to take over "Importance of New/ Fresh profile".

[2018-02-14 21:52] danialmas commented on #22
I would like to do "Test Cases and demonstration on how to do testing with Test Cases" Part.

[2018-02-15 05:43] majedrifat commented on #22
I would like to take over "Firefox and Different Channels".

[2018-02-15 06:09] rhnayeem commented on #22
I would glad to take over the session "Intro to QA".

[2018-02-15 18:01] hossainalikram commented on #22
Thanks for showing your interest for taking over the sessions. Please take your preparations as you need. Please note that, reporting time for us in the venue is 9.15 AM.

CCing @NaSabbir @rhnayeem @azmina721 @mMARUF @Tanvir-rahman @majedrifat @LiquidO2 @raahimrift @almastushar @imsaddam @hossainalikram

[2018-02-17 16:02] hossainalikram commented on #22
Thank you everyone for taking over all the sessions nicely! @rhnayeem @majedrifat @mMARUF @danialmas

[2018-03-21 11:17] hossainalikram opened #23 "Firefox 59 Beta Test Day, Dhaka"
Like [earlier event](https://github.com/MozQABD/MozQABD/issues/22), This has also been planned for engaging new contributors.

[2018-03-21 16:02] hossainalikram opened #24 "Mozilla QA Bangladesh: Community Day, 2018"
Objective of the event:

* The community has passed it's 3rd year since beginning. This is an obvious moment for celebration. To celebrate what we have achieved so far, how far we went, how great we have become and how big we want to grow.

* This is an meet with everyone inside the community. Anyone who have contributed to make us what we are now is another objective of the event, bringing everyo

[2018-03-22 08:02] hossainalikram commented on #23
Objective of the event:

The community haven't seen any public event since May 2017. Many of our core contributors graduated last year and went to Alumni status. Many are near to their graduation. We had lost engagement with our existing contributors. The basic idea is to create an opportunity for all the existing contributors to engage and sync.

Since, we didn't have any public event from May 20

[2018-03-22 08:03] hossainalikram commented on #23
![beta](https://user-images.githubusercontent.com/8605491/37758244-b4a86218-2dd9-11e8-98a2-c0d2a13861b3.jpg)

Event Cover done by @SufiAhmedHamim. Thanks again for doing this.

[2018-03-22 08:03] hossainalikram commented on #23
The basic agenda will go as follow:

Welcoming the Audience.
◼ This will start the event by sharing about what is the goal for the event and what should they expect throughout the event. This will be also a chance for inter action with audience.
Intro to Mozilla!
◼ People always feel that Mozilla is all about Firefox or even, Firefox is Mozilla. Talking about Mozilla as an organization and the goa

[2018-03-22 08:04] hossainalikram commented on #23
The agenda I mentioned above can be followed as basic plan. If you want to take over a specific thing, please let me know.

ccing @NaSabbir @rhnayeem @azmina721 @mMARUF @Tanvir-rahman @majedrifat @LiquidO2 @raahimrift @almastushar @imsaddam @hossainalikram - If you see something interesting you can suely take over the session. Please let me know, as soon as possible.

[2018-03-23 04:23] sayedibnmasud commented on #23
I would like to take over Intro to QA session.

[2018-03-23 05:08] Tanvir-rahman commented on #23
Want to take session on
"Importance of New/ Fresh profile"

[2018-04-03 17:21] hossainalikram opened #25 "Firefox Triage Day, Dhaka"
This is an Basic - Getting Started - Beginner level event to get started with Bug Triage.

Bug Triage is an essential part of Mozilla as a way of contribution. This is a plan of long term to introduce Bug Triage to the community. This event is an initiation of the long awaited Bug Triage as a contribution in Mozilla QA Bangladesh Community.

[2018-05-18 09:43] hossainalikram opened #26 "Mozilla QA Bangladesh : Community Iftar, 2018"
Being a community of contributors, We try to meet and be together wherever possible. In the month of Ramadan, like other years, we are planning to break our fasting together, with most of the contributors in the community.

[2018-05-18 10:00] hossainalikram commented on #26
**Things that are decided upon discussion!**
- Date : 1st June, 2018
- Time : 6.00 PM to 9.00 PM ( UTC + 6 Time )
- Location : Jhigatola, Dhanmondi ( Expected, Not Yet Confirmed)
- Expected Places : Dawat E Mejban / The Cafe Rio / Flavours Music Cafe / Bunkers
              Note: The place will be decided as time goes, depending on reviews and number of Participants.

**Who Can Join :**
Anyone who

[2018-05-18 10:06] hossainalikram commented on #26
Documenting our previous editions of Community Iftar below:

2016 Edition : https://www.facebook.com/events/1805093143058188/

2017 Edition : https://www.facebook.com/events/301405190312955/

[2018-05-18 10:22] hossainalikram commented on #26
ইভেন্ট আয়োজনের হেল্প টেক্সট/ ইভেন্ট ডেসক্রিপশনঃ

মাহে রমজান উপলক্ষে মজিলা কিউএ বাংলাদেশ কমিউনিটি তার সকল কন্ট্রিবিউটরদের নিয়ে ইফতার করার উদ্যোগ নিয়েছে । এখানে আমরা সবাই একত্রিত হয়ে ইফতার করবো এবং নিজেদের মধ্যে কমিউনিটি সম্পর্কিত বিভিন্ন পরিকল্পনা এবং বিষয় নিয়ে আলোচনা করব। আমাদের কিউএ কমিউনিটির এই ইফতারে আপনিও যোগ দিতে পারেন।

আমাদের প্রত্যেকের ইফতার করতে হলে যে খরচ হবে, তার পরিমাণ ৩৫০টাকা। মজিলা ক

[2018-07-25 09:12] hossainalikram opened #27 "Firefox Test Sprint, Dhaka"
**Firefox Test Sprint, Dhaka**
Firefox Test Sprint, Dhaka is a regional event to encourage contributors to contribute in QA . It will be an offsite event to help people to contribute in QA. Participant will be guided from the basic of Bugzilla to Testing bugs, Verifying bugs and some other aspects of QA . It is a 2 Days event and participants will be mentored all the way so that they can be comfor

[2018-08-10 13:53] hossainalikram opened #28 "Revamping MozillaQABD.Org & LearnQAFrom.Me"
### **About MozillaQABD.Org**
We initiated about this officially in June 21, 2017 in Github via #17 .

Initially, We bought MozillaQABD.Org & MozQABD.Community from Namecheap in June 17, 2017 from our own funding! ( Why I'm posting the image - I want to see it someday and see how we moved forward in challenging days :3 )
![1](https://user-images.githubusercontent.com/8605491/43962220-f6da671c-9cd8

[2018-08-10 13:54] hossainalikram commented on #17
More of this will be followed in Issue #28

[2018-08-10 13:55] hossainalikram commented on #17
Closing for now, Updates will be visible on - #28

[2018-08-10 13:55] #17 closed, assigned to nobody

[2018-08-10 15:23] hossainalikram opened #29 "Relaunching Blog.MozillaQABD.Org - Community's Own Blog!"
As Blog.MozillaQABD.Org is funded and maintained by community currently, the Blog was down for few months. Thanks to Internet Archive that we could get all the blogs ( Mostly texts ).

Even in initial Days, when we kicked off the blog in June 18, 2017, @imsaddam - Saddam Hossain Helped to modify the whole look to a way that we need for our Community's blog.

Again we had a sprint to redesign and p

[2018-11-14 17:40] hossainalikram opened #30 "Mozilla Awareness Program @ UITS"

[2018-11-14 18:38] hossainalikram commented on #30
- Intro to Mozilla
- What is Mozilla & Firefox
- What is Mozilla's goal of areas and Where Mozilla works?
- Firefox's New Features @Meraj-Kazi
  - Firefox Screenshot
  - Firefox Monitor
  - Send
  - Side View
  - Notes
- Contribution to Mozilla and How you can contribute @LiquidO2
- Intro to Mozilla QA & How you can be a part of our Community @majedrifat

[2018-11-26 17:30] hossainalikram opened #31 "Firefox Nightly 65 Test Day, Dhaka"
Intro to Mozilla
What can I do for Mozilla? [optional]
Contributing through QA
Intro to QA
Intro to testing and feedback
Firefox New Profile
Firefox's channel
Bug's Life Cycle
What is a Bug
Demonstration of Few Bugs

[2018-11-26 17:47] hossainalikram commented on #31
People who wanted to join as part of our organizing team are below:

Sayed Ibn Masud @LiquidO2
Almas Hossain Tushar
Tanvir Rahman
Nazir Ahmed Sabbir
Sajedul Islam
Roman Syed
Meraj Kazi
Saddam Hossain
Md. Raahimul Islam Rift
Md. Maruf Rahman
Md. Majedul Islam Rifat
Hossain Al Ikram
Rezaul Huque Nayeem

[2018-11-26 18:04] hossainalikram commented on #31
Intro to Mozilla - @hossainalikram
What can I do for Mozilla? - @LiquidO2
Intro to QA - @raahimulrift
Firefox's New Profile - @imsaddam
Firefox's Channel -
Intro to Testing & Intro to Test Cases - @almas
What is a Bug -
Bug's Life Cycle - @LiquidO2
Demonstration of Few Bugs - @imsaddam, @LiquidO2, @almas

[2018-11-26 18:29] hossainalikram commented on #31
Everyone is requested to arrive the venue at least by 2.15 PM :) I shall pray my Jummah Prayer in JFP Mosque, You can join me, if you want.

[2018-12-20 17:56] sayedibnmasud opened #32 "Firefox 65 Beta Test Day, Dhaka"
Intro to Mozilla
What can I do for Mozilla? [optional]
Intro to QA
Firefox's New Profile
Firefox's Channel
Intro to Testing & Intro to Test Cases & Etherpad
What is a Bug
Bug's Life Cycle
Demonstration of Few Bugs

[2018-12-21 11:18] hossainalikram opened #33 "Distributed Capabilities!"
To make our activities more smooth and fluent, We are going to do distributed activities.

- MozillaQABD.Org Email Request
- QMO Contributor Spotlight - Monitoring
- Contributor Of the Month - Monitoring
- Global Test Day - Monitoring
- Local Test Day - Monitoring
- Community Call - Monitoring
- Local Event - Contact Person
- Bug Day - Monitoring

[2018-12-21 11:37] hossainalikram commented on #33
Bug Day - Maruf Rahman & Sajedul Islam
Community Call - Md. Raahimul Islam & Sayed Ibn Masud
MozillaQABD.Org Email Request - Nazir Ahmed Sabbir
Test Day - Monitoring - Md. Raahimul Islam, Md. Majedul Islam, Sayed Ibn Masud & Md. Maruf Rahman
Social - Monitoring - Md. Raahimul Islam & Maruf Rahman
Local Event - Contact Person - Sayed Ibn Masud & Md. Maruf Rahman

[2019-01-30 18:46] hossainalikram opened #34 "Request for Community's G Suit Email ID"
Who is eligible for getting an Community's G Suit Email ID -

- An active contributor to the Mozilla QA Bangladesh Community
- Actively contributing towards Mozilla and in the community for more than 1 year.
- Have an purpose to use this for community as primary reason.
-

[2019-03-01 13:50] hossainalikram opened #35 "Mozilla QA Contributor Mentoring Day @ Gono University"

[2019-03-12 20:20] hossainalikram commented on #35
Assigning this issue to @LiquidO2 @mMaruf and @raahimrift!

We need to create a press notice for this event.

Our beloved @hasibulhasanshanto created the belowed note. Please review and finalize a version for press release.

"বৈশ্বিক সংগঠন মজিলার সহযোগী কমুনিটি মজিলা কিউএ বাংলাদেশ এর উদ্যোগে ও গণ বিশ্ববিদ্যালয়ের সি এস ই বিভাগের সহযোগিতায় আগামি ১৬ মার্চ, শনিবার কম্পিউটার সায়েন্স বিভাগের ল্যাবে আয়োজ

[2019-03-13 19:31] sayedibnmasud commented on #35
Suggested by me, @mMARUF and @raahimrift vai.

জনপ্রিয় ইন্টারনেট ব্রাউজার ফায়ারফক্স-এর নির্মাতা অলাভজনক সংগঠন মজিলা ফাউন্ডেশন এর সেচ্ছাসেবক কমিউনিটি হিসেবে মজিলা প্রজেক্টে অবদান রেখে আসছে মজিলা কিউএ বাংলাদেশ কমিউনিটি। এরই ধারাবাহিকতায় আগামী ১৬ মার্চ, শনিবার মজিলা কিউএ বাংলাদেশ গণ বিশ্ববিদ্যালয়ের শিক্ষার্থীদের জন্য আয়োজন করতে যাচ্ছে “মজিলা কিউএ: কন্ট্রিবিউটর মেন্টরিং ডে @গণ বিশ্ববিদ্যালয়” শীর্ষক এক

[2019-03-15 15:08] sayedibnmasud commented on #35
**Sessions:**
- Intro to Mozilla @hossainalikram
- What can I do for Mozilla? [optional] @LiquidO2
- Intro to QA @Tanvir-rahman
- Intro to Testing & Intro to Test Cases @Tanvir-rahman
- Firefox's Channel @almastushar
- Firefox's New Profile @mMARUF
- What is a Bug
- Bug's Life Cycle
- Demonstration of Few Bugs

[2019-03-29 15:54] sayedibnmasud opened #37 "Firefox QA Sprint, Dhaka"
We have discussed earlier about a "Happy ending" of the community but, we would very much like to not have an ending at all. We are in a transition period as most of our core contributors are already done with their graduation or about to complete which is the reason of our current difficulties.

With this event, we are going to try our best to have the same effect and outcome that we had in our f

[2019-05-19 17:52] hossainalikram opened #38 "Mozilla QA Bangladesh : Community Iftar 2019"

[2019-05-19 18:55] sayedibnmasud commented on #38
**This is based on the Event Planning Call**

**Date**
- 24th ~~or 25th, **tbd** in few hours~~.

**Venue**
- ~~Two options: Might be a restaurant, but if we fail to book a good enough restaurant, we can arrange this in an open place (e.g: Shorobor or Dhanmondi Lake).~~
- [Perk N Smirk](https://www.facebook.com/PerkNSmirk/)

**Food**
- ~~We discussed about buffet and  _set menu_, most of us prefer

[2019-06-17 18:38] hossainalikram opened #39 "Firefox Beta Bug Hunting @ City University, Permanent Campus"

[2019-06-17 18:39] hossainalikram commented on #39
Reps Event Page : https://reps.mozilla.org/e/firefox-beta-bug-hunting-city-university-permanent-campus/

[2019-06-17 18:41] hossainalikram opened #40 "Firefox Beta Bug Hunting @ City University, City Campus"

[2019-06-17 18:42] hossainalikram commented on #40
Reps Event Page : https://reps.mozilla.org/e/firefox-beta-bug-hunting-city-university-city-campus/

[2019-06-17 18:44] sayedibnmasud commented on #39
Suggested and edited by @LiquidO2 and @majedrifat

জনপ্রিয় ইন্টারনেট ব্রাউজার ফায়ারফক্স-এর নির্মাতা অলাভজনক সংগঠন মজিলা ফাউন্ডেশন এর সেচ্ছাসেবক কমিউনিটি হিসেবে মজিলা প্রজেক্টে অবদান রেখে আসছে মজিলা কিউএ বাংলাদেশ কমিউনিটি। এরই ধারাবাহিকতায় আগামী ২২ জুন, শনিবার মজিলা কিউএ বাংলাদেশ সিটি বিশ্ববিদ্যালয়ের শিক্ষার্থীদের জন্য আয়োজন করতে যাচ্ছে “ফায়ারফক্স বেটা বাগ হান্টিং @সিটি বিশ্ববিদ্যালয়” শীর্ষক একটি স

[2019-06-17 18:45] sayedibnmasud commented on #40
Suggested and edited by @LiquidO2 and @majedrifat

জনপ্রিয় ইন্টারনেট ব্রাউজার ফায়ারফক্স-এর নির্মাতা অলাভজনক সংগঠন মজিলা ফাউন্ডেশন এর সেচ্ছাসেবক কমিউনিটি হিসেবে মজিলা প্রজেক্টে অবদান রেখে আসছে মজিলা কিউএ বাংলাদেশ কমিউনিটি। এরই ধারাবাহিকতায় আগামী ২৩ জুন, শনিবার মজিলা কিউএ বাংলাদেশ সিটি বিশ্ববিদ্যালয়ের শিক্ষার্থীদের জন্য আয়োজন করতে যাচ্ছে “ফায়ারফক্স বেটা বাগ হান্টিং @সিটি বিশ্ববিদ্যালয়” শীর্ষক একটি স

[2019-06-17 20:48] hossainalikram commented on #40
Image for social promotion

![CityUniversityCityCampus](https://user-images.githubusercontent.com/8605491/59635620-79aa9600-9173-11e9-9e7e-bf1f62f078eb.png)

[2019-06-17 20:48] hossainalikram commented on #39
Image for social promotion

![City University Permanent Campus](https://user-images.githubusercontent.com/8605491/59635671-92b34700-9173-11e9-9c23-4f60577762e1.png)

[2020-06-09 02:26] hossainalikram commented on #34
Hello everyone who is watching this github issue or has turned on notification or seeing this issue anyhow.

This issue was created a year back. After we got access to community's G Suite. Right now, the only people that has community's G Suit email are @hossainalikram @NaSabbir @rhnayeem . Though everyone mentioned here got access as an community admin but for a proper way to move forward, we nee

[2020-06-19 00:12] hossainalikram commented on #34
Hello @majedrifat and @LiquidO2 ,

Can we have a status update of your activities please? If you need extension, please let us know the deadline for your submission so we can know when to expect this to move on.

[2020-06-19 15:07] majedrifat commented on #34
Hello, @hossainalikram vai,
We are working on it, and we will probably need this week to finalize a draft. But we are maintaining a google doc for our drafting.
Here is the link:
https://docs.google.com/document/d/1x_li9CI1-rgpepQ1blKppMcaeV73VEcSkbMD9XoRLiw/edit?usp=sharing

[2020-06-28 10:11] majedrifat commented on #34
Hello everyone,
Here is my proposal. Let me know if you have any queries. Thanks.

**Who is eligible for getting a Community's G Suit Email ID -**

1. An active/core contributor to the Mozilla QA Bangladesh Community
2. Actively contributing towards Mozilla and in the community for more than 2 years.
3. Engage with new contributors.
4. Provides help in organizing online/offline events
5. Who shows

[2020-07-07 03:00] hossainalikram commented on #34
Hello @majedrifat brother,

Thanks for your words and feedbacks. We felt, you may have missed some of our points which we wanted to find out throughout this issue. I would like to rephrase those below:

**Pre Requisite :**
This would be a set of rules which everyone would see at the beginning before applying or thinking about getting community's Email. This rules also would be an pointer for us to

[2020-07-07 03:01] hossainalikram commented on #34
Hello @LiquidO2 ,

We need your kind attention towards this issue. Without your help being merged with @majedrifat , this issue would be hard to be closed. Please make your time and do your contribution towards this issue.